body {
    background-color: #444;
    color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-top: 1px;
    color: #fff;
  }
  .button-group {
    display: flex;
    gap: 10px;
    margin: 5px 0;
  }
  .button-group button {
    padding: 5px;
    width: 90px;
    height: 30px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .button-group button:hover {
    background-color: #888;
  }
  .button-group button:active {
    background-color: #aaa;
  }

  .button-group p{
    position: absolute;
    left: 20%;
    font-size: 15px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .lay-out-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 55%;
    background-color: #333;
    border: 1px solid greenyellow;
    padding: 20px;
    box-sizing: border-box;
  }
  .lay-out {
    width: 80%;
    height: 50%;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    color: #999;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*palette code*/
  .palette {
    width: 400px;
    max-height: 80vh; /* Allows the palette to grow but with a limit to prevent overflow */
    overflow-y: auto; /* Adds scroll if content exceeds viewport */
    background-color: #333;
    color: #666;
    border: 1px solid gold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
  }
  .item {
    padding: 1px;
    margin: 1px;
    width: 98%;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .item:hover {
    background-color: #888;
  }
  .item:active {
    background-color: #aaa;
  }
  .item-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
  }
  .content {
    display: none;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 90%;
    height: 60px;
    border: 1px solid gold;
    background-color: #333;
    color: #fff;      
  }
  .content p {
    margin: 0;
    padding: 0;
  }